#updated {clear:both;position:absolute;display:block;top:0;z-index:100;border:0}
#updated img {padding:0;margin:0;border:0}
#updated a {text-decoration:none;border:0}
#updated.left {left:0}
#updated.right {right:0}